body {
  background: rgb(13, 21, 32);
  background: var(--secondary-color);
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
}
/*Default dark mode*/
:root {
  --secondary-color: radial-gradient(
    circle,
    rgba(13, 21, 32, 1) 61%,
    rgba(17, 25, 39, 1) 78%,
    rgba(13, 40, 71, 1) 100%
  );

  --primary-color: #d6e1ff;
  --tri-color: #0d2847;
  --qua-color: #003362;
  --cinq-color: #104d87;
  --six-color: #111927;
  --sept-color: #5472e4;
}
/*Light mode*/
[theme="light"] {
  --secondary-color: #c2e6ff;
  --primary-color: #0d1520;
  --tri-color: #5472e4;
  --qua-color: #0090ff;
  --cinq-color: #205d9e;
  --six-color: #70b8ff;
  --sept-color: #182449;
}
#sections {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 20px;
  max-width: 100%;
}
#sections img {
  height: 50px;
  width: 50px;
  margin-top: 30px;
  max-width: 100%;
}
#sections img:hover {
  cursor: pointer;
}
#sections h2 {
  color: var(--primary-color);
  font-size: 35px;
  font-weight: bolder;
  margin-left: 20px;
  max-width: 100%;
}
.lm form {
  display: inline-block;
  max-width: 100%;
}
.lm button {
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--tri-color);
  border: 2px var(--tri-color) solid;
  padding: 5px 30px;
  border-radius: 30px;
  font-size: 15px;
  margin-inline: 130px;
  font-weight: bolder;
  margin-top: 20px;
  max-width: 100%;
}
.lm button:hover {
  background-color: var(--qua-color);
  border: 2px solid var(--cinq-color);
  cursor: pointer;
}
h1 {
  color: var(--primary-color);
  font-size: 70px;
  font-weight: bolder;
  max-width: 100%;
  margin-top: 50px;
}
.appre {
  font-size: 30px;
}
.resum h2 {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 60px;
  font-weight: bolder;
  margin-top: 250px;
  margin-bottom: 150px;
  max-width: 100%;
}
.resum p {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  line-height: 150%;
  text-align: center;
  font-size: 25px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 200px;
  max-width: 100%;
}
#presentation form {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
}
#presentation button {
  color: var(--primary-color);
  background-color: var(--sept-color);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  margin-right: 40px;
  max-width: 100%;
}
.me {
  height: 250px;
  width: 250px;
  border: solid 5px;
  border-color: var(--primary-color);
  border-radius: 50%;
  object-position: left;
  object-fit: cover;
  margin-right: 200px;
  max-width: 100%;
  transition: 0.5s 0.05s;
}
.me:hover {
  box-shadow: 0px 0px 70px 10px #3b4fc1;
  border-radius: 50%;
  border: 5px solid #3b4fc1;
  transform: scale(1.05);
}
.moi {
  height: 420px;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  max-width: 100%;
}
#presentation button:hover {
  background-color: var(--cinq-color);
  cursor: pointer;
}
#presentation a {
  text-decoration: none;
  color: white;
  align-items: center;
  align-items: center;
  max-width: 100%;
}
.social {
  height: 420px;
  margin-top: 20px;
  display: inline;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 60px;
  font-weight: bolder;
  margin-left: 300px;
  max-width: 100%;
}
.social img {
  width: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  max-width: 100%;
    transform: translateY(3px);
}
h2 {
  margin-right: 10px;
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bolder;
  max-width: 100%;
}
#techno h2 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
  max-width: 100%;
}
#techno h3 {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
  max-width: 100%;
}
.apprise,
.encour {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tecnoa img {
  height: 100px;
  width: 100px;
  padding: 30px;
  background-color: var(--six-color);
  border: 2px solid var(--six-color);
  margin: 20px 20px;
  border-radius: 30px;
  max-width: 100%;
}
.tecnoe img {
  height: 100px;
  width: 100px;
  padding: 30px;
  background-color: var(--six-color);
  border: 2px solid var(--six-color);
  margin: 20px 20px;
  object-fit: cover;
  border-radius: 30px;
  max-width: 100%;
}
.tecnoe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;
  margin-bottom: 200px;
  max-width: 100%;
}
.tecnoa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;
  margin-bottom: 10px;
  max-width: 100%;
}
.tecnoa img:hover {
  background-color: var(--qua-color);
  border: 2px solid var(--cinq-color);
}
.tecnoe img:hover {
  background-color: var(--qua-color);
  border: 2px solid var(--cinq-color);
}
.contact button {
  height: 150px;
  width: 150px;
  border: solid 2px;
  background-color: var(--tri-color);
  border: 2px var(--tri-color) solid;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  margin-inline: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
}
.contact button:hover {
  background-color: var(--qua-color);
  border: 2px solid var(--cinq-color);
  cursor: pointer;
}
.contact img {
  width: 100px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
#footer h2 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  max-width: 100%;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 300px;
  max-width: 100%;
}
.contact form {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
}
